.userCard {
  width: 50%;
}

.postlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postlist > * {
  margin: 1rem;
}

.posts {
  width: 90%;
}

.posts > * {
  margin: 0.8rem;
}
